*.pyc
*.o
*.swp
*.so
*~
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
lib/
\#*\#
debug
util/c_interface/csimple
util/f_interface/fsimple
*-lyxformat-*
.DS_Store
*.so.dylib*
*.dylib
*.dylib.*
*.so.*
examples/profiling/profile
doc/html
doc/pdf
doc/class-doc
util/abaqus/report
util/cxx_interface/cxxsimple
doc/doxygen/html
doc/doxygen/pdf
doc/doxygen/latex
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
*.e
*.trelis
*.ninja
.ninja*
*.dll*
*.vcxproj*
*.sln
*.manifest
*.exp
*.lib
*.pyd
src/neml_export.h
callgrind.out*
build
dist
neml.egg-info
util/string_interface/cxxstring
*.exe
include/neml_export.h
wheelhouse
examples/**/*.png
neml/*.cmake
*.lo*
*.la
*.gcno
coverage/coverage
