*.pyc
*.o
*.swp
*.so
*~
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
lib/
\#*\#
debug
util/c_interface/csimple
util/f_interface/fsimple
*-lyxformat-*
.DS_Store
*.so.dylib*
*.dylib
*.dylib.*
*.so.*
examples/profiling/profile
doc/html
doc/pdf
util/abaqus/report
util/cxx_interface/cxxsimple
